html {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #F1F9E8;
    text-align: center;
}

.logo {
    width: 300px;
    filter: drop-shadow(5px 5px 2px rgba(46.0, 58.0, 23.0, .5));
}

.expenseBox {
    background-color: white;
    border: 1px solid #336699;
    margin: 20px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: left;
    width: 300px;
}

.budget {
    background-color: white;
    border: 1px solid #336699;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    font-size: 15px;
    justify-content: space-between;
    text-align: center;
}

.largeBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap row;
    flex-direction: row;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
}

#expensesList {
    list-style: none;
    text-align: left;
    padding-bottom: 5px;
    padding-left: 10px;
}

#amountList {
    list-style: none;
    text-align: center;
    padding-bottom: 5px;
    padding-left: 10px;
}
h3 {
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
}

li{
    padding-bottom: 20px;
}

.money {
    font-weight: bold;
    align-items: center;
}

#line {
    height: 1px;
    background-color: #000000;
    padding-left: 0;
    margin-left: 10px;
}

.modal-overlay {
    display: none;
    align-items: center;
    background: rgb(0, 0, 0, .89);
    justify-content: center;
    opacity: 1;
    padding: 1.5 rem;
    z-index: 9998;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
  }
  .piece-modal {
    background: rgba(0, 0, 0, .89);
    padding: 2.5rem 3rem;
    text-align: center;
    width: 100%;
    align-content: center;
    position: relative;
    display: block;
  }
 
@media only screen and (min-width: 600px) {
    .largeBox {
        flex-direction: row;
    }
}
