html {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #F1F9E8;
    text-align: center;
}

.logo {
    width: 300px;
}

.notify-area-outer-box {
    background-color: white;
    /* border: 1px solid yellow; */
    width: 40%;
    height: 25;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}


